//

.animation_navigations_hover{
  animation: keyframes_navigations_hover 2s forwards;
}

.animation_turnOnLight {
  animation: keyframes_turnOnLight 1s forwards;
}

.animationFadeInOut{
  animation: keyframes_fadeInOut 3s infinite;
}

.animationChangeTitle{
  animation: keyframes_change .500s forwards;
}

@keyframes keyframes_change {
  from {
    top: -80px;
    opacity: 1;
  }

  50%{
    top: -50px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: -90px
  }
}

@keyframes keyframes_openPopupAnimation {
  from {
    opacity: 0;
    transform: translateY(-100px) translateX(-50%);
  }

  10%{
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }

  90% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px) translateX(-50%);
  }
}

@keyframes keyframes_fadeInOut {
  from {
    opacity: 1;
  }

  50%{
    opacity: .3;
  }

  to {
    opacity: 1;
  }
}

@keyframes blinking {
  from {
    opacity: 1;
  }

  50%{
    opacity: .5;
  }

  to {
    opacity: 1;
  }
}



@keyframes keyframes_navigations_hover {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 1;
      }

      23% {
        opacity: 0;
      }

      30% {
        opacity: 1;
      }

      50% {
        opacity: 1;
      }

      60% {
        opacity: 1;
      }

      61% {
        opacity: .2;
      }
      63% {
        opacity: 1;
      }

      64% {
        opacity: .2;
      }

      66% {
        opacity: 1;
      }

      68% {
        opacity: .2;
      }

      70% {
        opacity: 1;
      }

      89% {
        opacity: 1;
      }

      95% {
        opacity: .2;
      }

      100% {
        opacity: 1;
      }
}


@keyframes keyframes_turnOnLight {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  23% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: .5;
  }


  100% {
    opacity: 1;
  }
}

@keyframes animationRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes keyframes_circle {
  0% {
    opacity: 1;
  }

  20% {
    opacity: .6;
  }

  23% {
    opacity: .4
  }

  30% {
    opacity: .6;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: .4;
  }


  100% {
    opacity: 1;
  }
}