//VARIABLE
$background_color: #101010;

//GLOBAL SETUP
body {
  background: $background_color;
  font-family: "Inter", "Roboto", sans-serif;
  min-height: 10000px;
}

.container{
  max-width: 1496px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section{
  padding: 77px 0;
}

//button

.btn-ui-contact{
  border: 2px solid #6FF6FF;
  box-shadow: 0px 0px 25px 7px rgba(82, 255, 245, 0.40);
  padding: 11px 26px;
  color: #88FFF8;
  font-family: "Roboto";
  display: block;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  max-height: 50px;
  transition: .3s ease-in-out;
  &:hover{
    box-shadow: 0px 0px 30px 10px rgba(82, 255, 245, 0.60);
    border-radius: 10px;
    text-shadow: 0px 0px 30px rgba(82, 255, 245, 0.60);
  }
  &:active{
    transition: .001s ease;
    box-shadow: 0px 0px 30px 10px rgba(54, 54, 54, 0.6);
  }
}

.btn-ui-inventory{
  color: #D3D3D3;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(94deg, #1E1E1E -3.84%, #9C1EFF 93.29%);
  box-shadow: 11px 3px 21px 4px rgba(170, 62, 255, 0.55);
  padding: 16px 35px;
  transition: .3s ease-in-out;
  &:hover{
    box-shadow: 0px 0px 30px 10px rgba(155, 27, 255, 0.55);
    border-radius: 10px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.88);
  }
  &:active{
    transition: .001s ease;
    box-shadow: 0px 0px 30px 10px rgba(54, 54, 54, 0.6);
  }
}


.btn-ui-view_details{
  color: #D3D3D3;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(94deg, #1E1E1E -3.84%, #9C1EFF 93.29%);
  box-shadow: 11px 3px 21px 4px rgba(170, 62, 255, 0.55);
  padding: 10px 42px;
  transition: .3s ease-in-out;
  &:hover{
    box-shadow: 0px 0px 30px 10px rgba(155, 27, 255, 0.55);
    border-radius: 10px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.88);
  }
  &:active{
    transition: .001s ease;
    box-shadow: 0px 0px 30px 10px rgba(54, 54, 54, 0.6);
  }
}

//checkbox -------------------------------------------

.checkbox-ui-1{
  user-select: none;
  border-radius: 16px;
  border: 3px solid #1E1E1E;
  background: #292929;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 120px;
  align-items: center;
  padding: 6px 11px;
  overflow:hidden;
  cursor: pointer;
  justify-content: space-between;
  & > .side{
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    &.active{
      & > span{
        color: #3F3F3F;
      }
    }
    &:last-child{
      margin-right: 0;
    }
    & > span{
      color: #3F3F3F;
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: .3s ease-in-out;
    }
  }

  & > .checked{
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #FF5656;
    right: -7px;
    top: -7px;
    z-index: 0;
    transition: .3s ease-in-out;
    &.active{
      right: 50px;
      width: 70px;
      background: #73FF81;
    }
  }
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .checked {
    width: 100%;
    background-color: green;
  }

}