.main-page{
  & > .home__section{
    min-height: 800px;
    position: relative;
    & .bg_affects{
      & > .light_wrapper{
        & > .initlight{
          position: absolute;
          height: 532px;
          width: 3px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: black;
          transition: 1s ease-in-out;

          box-shadow: 0px 4px 250px 201px transparent;

          z-index: 2;

          & > .fakeLight {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 420px;
            height: 420px;
            background: black;
            left: -430px;
            right: auto;
            transition: 1s ease-in-out;
            border-radius: 50%;
            z-index: 3;
          }

          &:last-child{
            right: 0;
            left: auto;
            &  >.fakeLight{
              left: auto;
              right: -430px;
            }
          }
        }
      }
    }
  }
}