.main-page{
  & > .home__section{
    padding: 0;
    min-height: 700px;
    position: relative;
    & .bg_affects{
      & > .light_wrapper{
        & > .mainLight{
          position: absolute;
          height: 532px;
          width: 3px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: black;
          transition: 1s ease-in-out;

          box-shadow: 0px 4px 250px 201px transparent;

          z-index: 2;

          & > .fakeLight {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 420px;
            height: 420px;
            background: black;
            left: -430px;
            right: auto;
            transition: 1s ease-in-out;
            border-radius: 50%;
            z-index: 3;
          }

          &:last-child{
            right: 0;
            left: auto;
            &  >.fakeLight{
              left: auto;
              right: -430px;
            }
          }
        }
      }
    }

    & > .container{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      max-width: 100%;
      & > .swiper{
        width: 100%;
        height: 100%;
        overflow-y:visible;
        & > .swiper-wrapper{
          overflow-y: visible;
        }
        & .swiper-slide > .wrapper{
          display: flex;
          & > .left-wrapper{

            & > h1, p{
              font-family: Inter;
              font-size: 70px;
              font-style: normal;
              font-weight: 700;
              line-height: 146.023%; /* 102.216px */
              margin-left: 120px;
              position: relative;
              transition: 1s ease-in-out;
              color: #424242;
              text-shadow: 0px 0px 39px transparent;
            }

            & > h1{
              margin-bottom: 30px;
              margin-top: 200px;
              max-width: 836px;
              line-height: 100%;
            }

            & > p{
              font-family: Inter;
              font-size: 50px;
              font-style: normal;
              font-weight: 700;
              line-height: 120%; /* 60px */
              max-width: 852px;
            }



          }

          & > .right-wrapper{
            & > img{
              height: auto;
              width: auto;
              position: absolute;
              right: -120px;
              top: -132px;
              opacity: 50%;
            }
          }
        }
      }
    }
  }

  & > .section__newCar{
    width: 100%;
    background: #1A1A1A;
    position: relative;
    z-index: 3;
    padding-bottom: 100px;

    & > .background{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      z-index: -1;
      & > img{
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    & > .container{
      & > .swiper-container{
        position: relative;
        background: #171717;
        width: 100%;
        &:after{
          content: "";
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          width: 60%;
          border-radius: 70px;
          background: #D9D9D9;
          box-shadow: 0px 0px 119px 70px rgba(207, 72, 255, 0.48);
          z-index: -1;
        }
        &:before{
          content: "";
          position: absolute;
          display: block;
          right: 0;
          bottom: 0;
          width: 60%;
          border-radius: 70px;
          background: #D9D9D9;
          box-shadow: 0px 0px 119px 70px rgba(104, 101, 255, 0.48);
          z-index: -1;
        }
        & > .background{
          width: 100%;
          overflow: hidden;
          position: absolute;
          left: 0;
          top:0;
          height: 100%;
          & > .eff{
            position: absolute;
            transform: rotate(30deg) translateY(-50%);
            width: 300px;
            height: 1000px;
            top: 50%;
            &:first-child{
              left: 0;
              background: #262626;
            }
            &:nth-child(2){
              left: 300px;
              background: #1B1B1B;
            }
            &:nth-child(3){
              left: 600px;
              background: #202020;
            }
            &:nth-child(4){
              left: 900px;
              background: #171717;
            }
            &:nth-child(5){
              left: 1200px;
              background: #1F1F1F;
            }
            &:nth-child(6){
              left: 1500px;
              background: #1A1A1A;
            }
          }
        }


        & > .swiper{
          padding:20px 40px;
          overflow-x: visible;
          & .swiper-slide{
            & > .wrapper{
              position: relative;
              & > .header{
                width: 100%;
                padding: 15px;
                border-radius: 50px 50px 0px 0px;
                background: rgba(5, 5, 5, 0.65);
                backdrop-filter: blur(11.5px);
                position: absolute;
                left: 0;
                top: 0;
                & > p{
                  font-family: Inter;
                  text-align: center;
                  font-size: 30px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  background: linear-gradient(100deg, #E2E2E2 -2.91%, rgba(220, 213, 213, 0.42) 112.89%);
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }

              }

              & > .main{
                display: flex;
                flex-direction: column;
                align-items: center;
                & > img{
                  width: 100%;
                  height: 321px;
                  object-fit: cover;
                  border-radius: 62px;
                  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
                  margin-bottom: 15px;
                }

                & > h3{
                  color: #FFF;
                  font-family: Inter;
                  font-size: 35px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  margin-bottom: 10px;
                  & > span{
                    color: #FFF;
                    font-family: Inter;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                  }
                }

                & > p{
                  color: #939393;
                  font-family: Inter;
                  font-size: 30px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  margin-bottom: 10px;
                  & > p{
                    color: #FFF;
                    font-family: Inter;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                  }
                }

                & > .substr{
                  width: 100%;
                  height: 5px;
                  background: linear-gradient(90deg, #FF5757 24.61%, #FF9494 96.51%);
                  box-shadow: 0px 0px 29px 4px rgba(255, 87, 87, 0.38);
                }
              }

              & > .wrapper_button{
                margin-top: 20px;
                & > button{
                  margin-left: auto;
                  margin-right: auto;
                  display: block;
                }
              }
            }
          }
        }

        & > .button-wrapper{
          width:3000px;
          height: 100%;
          z-index: 3;
          position: absolute;
          left: -3000px;
          top: 0;
          background: rgba(34, 34, 34, 0.24);
          box-shadow: -22px 0px 42px 9px rgba(0, 0, 0, 0.39);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          & > button{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            user-select: none;
            transition: .3s ease-in-out;
            &:hover{
              opacity: .7;
            }
            &:disabled{
              opacity: .7;
            }
          }
          &.right{
            left: auto;
            right: -3000px;
            & > button{
              left: 10px;
              right: auto;
            }
          }
        }
      }
    }
  }

  & > .why-we__section{
    padding: 123px 0;
    position: relative;
    & > .bg_centerLine{
      position: absolute;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
      top: -5px;
      width: auto;
      height: 100%;
    }

    & > .background_light{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      & > .wrapper{
        height: 329px;
        width: 3px;
        position: absolute;
        &:nth-child(1){
          left: 0;
          top: 250px;
          background: #3d3d3d;
          box-shadow: 0px 0px 250px 196px transparent;
        }

        &:nth-child(2){
          right: 0;
          left: auto;
          top: 600px;
          background: #3d3d3d;
          box-shadow: 0px 0px 250px 196px transparent;
        }

        &:nth-child(3){
          left: 0;
          right: auto;
          top: 980px;
          background: #3d3d3d;
          box-shadow: 0px 0px 250px 196px transparent;
        }

        &:nth-child(4){
          right: 0;
          top: 1200px;
          background: #3d3d3d;
          box-shadow: 0px 0px 250px 196px transparent;
        }
      }
    }

    & > .container{
      & > .h2header{
        display: flex;
        justify-content: flex-end;
      }
      & > .h2header > .wrapper{
        flex-direction: column;
        align-items: flex-end;
        & > .fakeLine{
          margin-top: -13px;
          width: 750px;
        }
      }

      & > .container_content{
        & > .list{
          display: flex;
          flex-direction: column;
          & > li{
            display: inline-block;
            margin-left: 0;
            margin-right: auto;
            margin-bottom: 120px;
            &:nth-child(2n){
                margin-right: 0;
                margin-left: auto;
            }

            & > .wrapper{
              display: flex;
              & > img{
                width: 70px;
                height: 70px;
                object-fit: cover;
                opacity: .6;
              }
              & > h3{
                color: #FFF;
                font-family: Inter;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-left: 16px;
                margin-bottom: 22px;
                max-width: 600px;
                color: #393939;
              }
              & > p{
                font-family: Inter;
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                max-width: 600px;
                margin-left: 16px;
                color: #393939;
              }
              & > .fake{
                width: 70px;
                height: 70px;
              }

            }
          }
        }
      }
    }

  }

  & > .registration__section{
    background: #131313;
    width: 100%;
    margin-top: -20px;
    padding: 0;
    overflow: hidden;
    position: relative;
    & > .background{
      & > img{
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    & > .container{
      position: relative;
      min-height: 900px;
      & > .background{
        & > canvas{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 1;
        }

        & > .line_1{
          position: absolute;
          width: 100%;
          height: 110%;
          left: 0;
          top: 0;
          z-index: 0;
        }

        & > .line_2{
          position: absolute;
          width: 80%;
          height: 70%;
          left: 0;
          top: 180px;
          z-index: 0;
        }

        & > .c1{
          position: absolute;
          right: 300px;
          top: 50%;
          animation: keyframes_circle 3s infinite;
        }

        & > .c2{
          position: absolute;
          right: 300px;
          top: 40%;
          animation: keyframes_circle 6s infinite;
        }

        & > .c3{
          position: absolute;
          right:400px;
          top: 40%;
          animation: keyframes_circle 10s infinite;
        }

      }

      & > .header{
        padding-top: 100px;
        margin-bottom: 60px;
        & > .wrapper{
          flex-direction: column;
          align-items: flex-start;
          & > .fakeLine{
            width: 1000px;
            top: 7px;
          }
        }
      }

      & > .mainContent{
        & > .calculateData{
          display: inline-flex;
          max-width: 651px;
          position: relative;
          z-index: 1;
          & > .wrapper{
            &.calculate{
              background: #212121;
              border-radius: 41px;
              max-width: 371px;
              position: relative;
              height: 100%;
              &:before{
                content: "";
                position: absolute;
                display: block;
                width: 150px;
                height: 150px;
                right:20px;
                background: white;
                bottom: 20px;
                z-index: -1;
                border-radius: 79.5px;
                box-shadow: 29px 8px 97px 30px rgba(231, 82, 255, 0.66);
              }
              & > .visivility{
                padding: 35px 29px;
                margin-bottom: 33px;
                border-radius: 40px 35px 60px 60px;
                background: #171717;
                position: relative;
                & > .background{
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 0;
                  & > img{
                    position: absolute;
                    &:nth-child(1){
                      left: 50px;
                      top: 30px;
                    }
                    &:nth-child(2){
                      left: 140px;
                      bottom: 22px;
                    }
                    &:nth-child(3){
                      left: 40px;
                      bottom: 20px;
                    }
                    &:nth-child(4){
                      right: 20px;
                      top: 10px;
                    }
                    &:nth-child(5){
                      left: 100px;
                      top: 80px;
                    }
                    &:nth-child(6){
                      right: 45px;
                      top: 80px;
                    }
                    &:nth-child(7){
                      left: 180px;
                      top: 20px;
                    }
                  }
                }
                & > .list{
                  position: relative;
                  z-index: 1;
                  & > .option{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    & > label{
                      width: 100%;
                      max-width: 190px;
                      color: #AEAEAE;
                      font-family: Inter;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                      margin-right: 19px;
                      min-width: 93px;
                    }

                    & > input{
                      max-width: 100%;
                      width: 100%;
                      display: inline-block;
                      border-radius: 8px;
                      border: 2px solid #1E1E1E;
                      background: #2C2C2C;
                      color: white;
                      font-family: Inter;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                      transition: .3s ease-in-out;
                      padding: 10px 12px;
                      &::placeholder{
                        color: #6F6F6F;
                      }
                    }
                  }
                }
              }
            }

            &.finish{
              margin-left: 10px;
              padding: 19px 28px;
              border-radius: 22px;
              background: linear-gradient(147deg, #171717 3.52%, rgba(23, 23, 23, 0.00) 97.02%);
              box-shadow: 11px 0px 46px 13px rgba(0, 0, 0, 0.36);
              position: relative;
              text-align: center;
              & > .holder{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 26px;
                background: rgba(0, 0, 0, 0.21);
                backdrop-filter: blur(7px);
                z-index: 10;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .3s ease-in-out;
                & > p{
                  color: #B0B0B0;
                  font-family: Inter;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
              }
              & > .list{
                display: flex;
                justify-content: center;
                & > .leftSide{
                  text-align: end;
                  & > span{
                    display: block;
                    color: #717171;
                    font-family: Inter;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 12px;
                    margin-right: 5px;
                  }
                }
                & > .rightSide{
                  & > .wrapper{
                    width: 100%;
                    border-bottom: solid 2px #2E2E2E;
                    position: relative;
                    margin-bottom: 12px;
                    display: flex;
                    align-items: flex-start;
                    & > .span{
                      color: #BCBCBC;
                      font-family: Inter;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                    }
                    & > .help{
                      cursor: default;
                      user-select: none;
                      margin-top: -13px;
                      margin-left: 10px;
                      border-radius: 50%;
                      background: #3E3E3E;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 25px;
                      height: 25px;
                      z-index: 3;
                      &:hover .terd{
                        opacity: 1;
                      }
                      & > span{
                        color: #FFF;
                        text-align: center;
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                      }
                      & > .terd{
                        display: block;
                        &:after{
                          content: "";
                          width: 13px;
                          height: 13px;
                          background: #2D2D2D;
                          display: block;
                          position: absolute;
                          left: 3px;
                          bottom: -6px;
                          transform: rotate(46.937deg);
                        }
                        transition: .2s ease-in-out;
                        opacity: 0;
                        position: absolute;
                        width: 390px;
                        top: -50px;
                        right: -368px;
                        padding: 4px 18px;
                        background: #2D2D2D;
                        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.49);
                        & > p{
                          color: #7C7C7C;
                          text-align: start;
                          font-family: Inter;
                          font-size: 15px;
                          font-style: normal;
                          font-weight: 700;
                          line-height: normal;
                        }
                      }
                    }
                  }
                }
              }
              & > .line{
                margin-top: 5px;
                margin-bottom: 5px;
                width: 90%;
                height: 3px;
                background: #bebebe;
                display: block;
                margin-left: auto;
                margin-right: auto;
                filter: blur(3px);
              }

              & > .wrapper{
                margin-top: 20px;
                & > p{
                  color: #8D8D8D;
                  font-family: Inter;
                  font-size: 19px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  & > span{
                    color: #FFF;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                  }
                }
              }
            }
          }
        }

        .resultWrapper{
          margin-top: 30px;
          max-width: 641px;
          & > .line{
            width: 100%;
            background: #3E3E3E;
            height: 4px;
            margin-bottom: 20px;
          }
          & > p{
            color: #7E7E7E;
            text-align: center;
            font-family: Inter;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            & > span{
              color: #FFF;
              font-family: Inter;
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
  }

  & > .section__rewievs{
    padding: 100px 0;
    background: #1B1B1B;
    padding-bottom: 200px;
    position: relative;
    & > .background{
      & > .leftLine{
        position: absolute;
        left: 0;
        top: 0px;
      }

      & > .bottomLine{
        position: absolute;
        right: 0;
        bottom: 0;
      }

      & > .left_top{
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    & > .container{
      padding: 0;
      & > .header{
        margin-bottom: 150px;
        display: flex;
        justify-content: flex-end;
        & > .wrapper{
          flex-direction: column;
          align-items: end;
          & > .fakeLine{
            width: 600px;
            top: 7px;
          }
        }
      }

      & > .swiper-container{
        display: flex;
        //grid-template-columns: 100px 1fr 100px;
        user-select: none;
        & > .swiper_btn{
          display: flex;
          justify-content: center;
          align-items: center;
          &:first-child{
            & > button{
              left: -10px;
            }
          }

          &:nth-child(3n){
            & > button{
              right: -10px;
            }
          }
          & > button{
            user-select: none;
            transition: .3s ease-in-out;
            position: relative;
            top: -60px;
            &:disabled{
              opacity: .7;
            }
            &:hover{
              opacity: .7;
            }
          }
        }
        & > .swiper{
          width: 90%;
          overflow: visible;
          & .swiper-slide{
            position: relative;
            z-index: 1;

            &.swiper-slide-active,
            &.swiper-slide-active + .swiper-slide,
            &.swiper-slide-active + .swiper-slide + .swiper-slide{
              filter: blur(0) brightness(1);
            }

            filter: blur(4px) brightness(.5);

            transition: .3s ease-in-out;
            &:nth-child(3n){
              &:after{
                box-shadow: 0px 0px 81px 72px rgba(255, 52, 149, 0.62);
              }
            }

            &:nth-child(2n){
              &:after{
                box-shadow: 0px 0px 81px 72px rgba(52, 158, 255, 0.62);
              }
            }
            &:after{
              content: "";
              width: 70px;
              height: 100px;
              border-radius: 31px;
              transform: rotate(40deg);
              display: block;
              position: absolute;
              right: 40px;
              top: 40px;
              box-shadow: 0px 0px 81px 72px rgba(141, 52, 255, 0.62);
            }
          }
          & .swiper-slide > .wrapper{
            position: relative;
            z-index: 2;
            & > .body{
              padding: 29px 32px;
              border-radius: 37px;
              background: linear-gradient(71deg, #3A66FF -3.74%, #962FFD 112.01%);
              box-shadow: 0px 0px 17px 10px rgba(0, 0, 0, 0.38);
              margin-bottom: 50px;
              & > img{
                width: 30px;
                height: 30px;
                margin-bottom: 7px;
              }
              & > p{
                color: #FFF;
                font-family: Inter;
                font-size: 30px;
                font-style: normal;
                font-weight: 800;
                line-height: 132.523%;
                user-select: auto;
              }
            }

            & > .user_wrapper{
              display: flex;
              align-items: center;
              & > .user_photo{
                width: 67px;
                height: 67px;
                margin-right: 20px;
                border-radius: 50%;
                border: solid 5px black;
                background: #232323;
              }

              & > .name{
                color: #AAA;
                font-family: Inter;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: 132.523%;
                user-select: auto;
              }
            }
          }
        }
      }
    }
  }

  & > .section__map{
    position: relative;
    & > .bg_map{
      & > img{
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & > .container{
      & > .header{
        margin-bottom: 80px;
        display: flex;
        justify-content: flex-start;
        & > .wrapper{
          flex-direction: column;
          align-items: start;
          & > .fakeLine{
            width: 640px;
            top: 7px;
          }
        }
      }

      & > .direction_wrapper{
        position: relative;
        display: inline-block;
        width: auto;
        &:after{
          content: "";
          width: 83px;
          height: 155px;
          border-radius: 66px;
          background: #D9D9D9;
          box-shadow: 0px 4px 104px 252px rgba(255, 63, 143, 0.61);
          position: absolute;
          z-index: 0;
          top: 100px;
          right: 100px;
        }

        &:before{
          content: "";
          width: 83px;
          height: 155px;
          border-radius: 66px;
          background: #D9D9D9;
          box-shadow: 0px 4px 168px 259px rgba(251, 63, 255, 0.33);
          position: absolute;
          z-index: 0;
          bottom: 100px;
          right: 100px;
        }

        & > .wrapper{
          position: relative;
          z-index: 1;
          background: #202020;
          box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.59);
          width: 100%;
          max-width: 700px;
          padding: 40px 29px;
          margin-bottom: 40px;
          & > .section{
            &.logo{
              display: flex;
              align-items: center;
              flex-direction: column;
              & > img{
                margin-bottom: 15px;
              }
              & > .line{
                width: 100%;
                height: 6px;
                background: #2E2E2E;
                margin-bottom: 15px;
              }
            }

            &.input{
              & > .title{
                color: #FFF;
                font-family: Inter;
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: block;
                margin-left: auto;
                text-align: center;
                margin-right: auto;
                margin-bottom: 36px;
              }

              & > .containerInput{
                display: flex;
                align-items: center;
                margin-bottom: 45px;
                & > label{
                  color: #4E4E4E;
                  font-family: Inter;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  display: block;
                  margin-right: 10px;
                  &.last{
                    margin-right: 35px;
                  }
                }
                & > .wrapperInput{
                  height: 45px;
                  max-width: 100%;
                  width: 100%;
                  position: relative;

                  & > button{
                    position: absolute;
                    right: 10px;
                    top: 16px;
                    color: #5786FF;
                    font-family: Inter;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover{
                      opacity: .6;
                    }
                  }
                  & > input{
                    width: 100%;
                    height: auto;
                    padding: 10px 21px;
                    color: #414141;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    background: #1A1A1A;
                    &::placeholder{
                      color: #4E4E4E;
                    }
                  }
                }
              }

              & > .selector-map-ui{
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 200px;
              }
            }

            &.buttons{
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-gap: 6px;
            }
          }

          & > h3{
            color: #FFF;
            font-family: Inter;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: block;
            margin-left: auto;
            text-align: center;
            margin-right: auto;
            margin-bottom: 20px;
          }

          & > .list{
            & > li{
              display: flex;
              align-items: center;
              margin-bottom: 20px;
              & > .label{
                margin-left: 20px;
                & > div{
                  color: #D3D3D3;
                  font-family: Inter;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  margin-bottom: 4px;
                  & > span{
                    &.green{
                      color: #68C571;
                      font-family: Inter;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                    }
                    &.red{
                      color: #FF4E4E;
                      font-family: Inter;
                      font-size: 20px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                    }
                  }
                  & > a{
                    color: #3E8AC1;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}